.tombol{
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}
.tombol-kecil{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.jarak{
    margin-top: 30px
}

